.education {
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
  background: var(--snd-bg-color);
}
.education .education-row {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.education-row.education-column {
  flex: 1 1 40rem;
}
.education-column .title {
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}
.education-column .education-box {
  border-left: 0.2rem solid var(--main-color);
}
.education-box .education-content {
  position: relative;
  /* padding-left: 2rem; */
}

.education-box .education-content::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}
.education-content .content {
  position: relative;
  padding: 1.5rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 0.6rem;
  margin-bottom: 2rem;
  overflow: hidden;
}
.education-content .content::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--bg-color);
  z-index: -1;
  transition: 0.5s;
}
.education-content .content:hover::before {
  width: 100%;
}
.education-content .content .year {
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: 0.5rem;
}
.education-content .content .year i {
  padding-right: 0.5rem;
}
.education-content .content h3 {
  font-size: 2rem;
}
.education-content .content p {
  font-size: 1.6rem;
  padding-top: 0.5rem;
}

/* media queries */
@media (max-width: 350px) {
  .education {
    padding: 5rem;
  }
  .education .education-row {
    flex-direction: row;
  }
}

@media (max-width: 450px) {
  .education-box {
    width: 60rem;
  }
  .education .education-row {
    flex-direction: row;
  }
}

@media (max-width: 650px) {
  .education-box {
    width: 40rem;
  }
  .education .education-row {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 750) {
  .education .education-row {
    flex-direction: column;
  }
}
