.skill-main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 50px;
}
.skill-bar {
  margin-bottom: 2.3rem;
}

.skill-main h3 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  text-align: center;
}
.skill-left .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 2rem;
}
.skill-left .skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: var(--snd-bg-color);
  margin-top: 10px;
  position: relative;
}
.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  left: 0;
  background: var(--main-color);
  border-radius: 25px;
  box-shadow: var(--neon-box-shdow);
}
.skill-bar .bar .html {
  width: 98%;
  animation: html 2s;
}
.skill-bar .bar .css {
  width: 92%;
  animation: css 4s;
}
.skill-bar .bar .javascript {
  width: 88%;
  animation: javascript 5s;
}
.skill-bar .bar .boostrap {
  width: 95%;
  animation: boostrap 6s;
}
.skill-bar .bar .React {
  width: 82%;
  animation: React 7s;
}
.skill-bar .bar .sql {
  width: 80%;
  animation: sql 8s;
}
.skill-bar .bar .git {
  width: 87%;
  animation: sql 8s;
}

.professional {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box {
  position: relative;
  margin: 10px 0;
  flex: 1 1 15rem;
}
.box .text {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
.box .text big {
  font: 400;
  letter-spacing: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box .text small {
  display: block;
  font-weight: 600;
}

.circle {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle .points {
  width: 2px;
  height: 10px;
  background-color: black;
  position: absolute;
  border-radius: 3px;
  transform: rotate(calc(var(--i) * var(--rot))) translateY(-45px);
}

.points.marked {
  animation: glow 0.04s linear forwards;
  animation-delay: calc(var(--i) * 0.05s);
}
/* breakpoints */

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 98%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 92%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 88%;
  }
}

@keyframes boostrap {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}
@keyframes React {
  0% {
    width: 0%;
  }
  100% {
    width: 82%;
  }
}
@keyframes sql {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes git {
  0% {
    width: 0%;
  }
  100% {
    width: 87%;
  }
}

@keyframes glow {
  0% {
    background: var(--bg-color);
    box-shadow: none;
  }
  100% {
    background: var(--main-color);
    box-shadow: var(--neon-box-shdow);
  }
}

/* media queries */
@media (max-width: 650px) {
  .skill-main {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 350px) {
  .skill-left .skill-bar .info {
    font-size: 2.5rem;
  }
  .box .text {
    font-size: 2.5rem;
  }
  .box .text big {
    font-size: 1.5rem;
  }
  .box .text small {
    font-size: 2.5rem;
  }
}
